node_modules/

## build destinations
/public/
.cache/
build/
dist/

## auto generated
src/gatsby-types.d.ts
src/components/image-gen

## logs and temporary files
*.log
*.tmp

## Config files
.prettierrc.json
cspell.json
gatsby-config.ts
typed-scss-modules.config.ts
tsconfig.json
/config/
.vscode/

## Package files
package.json
yarn.lock

## .igonre files
.gitignore
.prettierignore

## unparsable files
/src/images/
.env

## husky
.husky/