.icon-major {
    background-color: aqua;
}

.icon-minor {
    border-radius: 0 !important;
    height: 0 !important;
    top: 30px !important;

    @media only screen and (max-width: 1169px){
        top: 23px !important;
    }
}

.content {
    margin: 0;
}