.icon-major {
    background-color: aqua;
}

.icon-minor {
    border-radius: 0 !important;
    height: 0 !important;
    top: 30px !important;

    @media only screen and (max-width: 1169px){
        top: 23px !important;
    }
}

// .content::before {
//     content: url('https://github.com/Simply-Cods/destiny-timeline/blob/main/src/images/takenking.svg');
//     position: absolute;
//     top: 0;
//     left: 0;
//     // border-top: 13px solid #7a0000;
//     // border-right: 13px solid transparent;
//     z-index: 1;
//     width: auto;
//     height: auto;
// }

.season {
    max-width: 50px !important;
    max-height: 50px !important;
}