.icon-major {
    background-color: aqua;
}

.icon-minor {
    border-radius: 0 !important;
    height: 0 !important;
    top: 30px !important;

    @media only screen and (max-width: 1169px) {
        top: 23px !important;
    }
}

$icon-size: 25px;

.season {
    margin-top: 0.5rem;
    margin-left: 5px;
    max-width: $icon-size !important;
    max-height: $icon-size !important;
}

.timeline-content-wrapper {
    width: 400px;
    position: relative;
    top: -0.5rem;
}

.timeline-content {
    padding: 0 !important;
}

.element {
    margin-top: 10px;
}

.element::before {
    padding: 0 !important;
}

.title {
    margin: 0;
    margin-left: 5px;
}

.subtitle {
    display: block;
    margin: 0;
}
